@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: 'Malgun Gothic';
}

#main {
	padding: 0 5px;
}

.pageName {
	margin-top: 10px;
	font-size: 24pt;
}

#uploadForm {
	display: inline-block;
}

#file {
	width: 500px;
}

#linkbar {
	/* position: fixed; */
	background-color: black;
	height: 35px;
}


ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

ul li {
	display: inline-block;
	color: white;
	line-height: 35px;
	padding: 0 10px;
	font-family: 'Malgun Gothic';
	font-size: 13pt;
}

li:hover {
	cursor: pointer;
}

select {
	text-align: center;
	margin: 5px 0;
	font-size: 15pt;
}

option {
	font-size: 10pt;
}

.map {
	height: 820px;
	border: 3px solid black;
	margin-right: 10px;
}

.mapDiv {
	width: auto;
	margin-left: 210px;
}

.chart {
	margin-left: 210px;
}

#listDiv {
	position: fixed;
	float: left;
 	padding: 0 7px;
}

.mapOverlay {
  background-color: #000;
  padding: 10px;
  font-size: larger;
  font-family: 'malgun gothic';
  color: white;
  border-radius: 10px;
}

label {
	font-size: 12pt;
}

#chart_table {
	width: 1000px;
}

th {
	font-size: 16pt;
}

#bumTableDiv {
	position: fixed;
	border: 1px solid black;
	margin: 0 30px 30px 0;
	padding: 30px;
}

#toast-message {
	font-size: 20pt;
	padding: 10px;
	text-align: center;
	margin: 0 auto;
}

#uploadToast, #finishToast {
	position: fixed;
}

.btn-close {
	margin-right: 5px;
}

.MapTableDiv {
	display: inline-block;
	position: absolute;
	z-index: 100000;
	bottom: 30px;
	right: 25px;
	background-color: rgb(248, 249, 250);
}

.blue_grade_0 {
	background-color: #f7fbff;
	border: 1px solid black;
	width: 25%;
}

.blue_grade_1 {
	background-color: #c8dcf0;
	border: 1px solid black;
	width: 25%;
}

.blue_grade_2 {
	background-color: #73b2d8;
	border: 1px solid black;
	width: 25%;
}

.blue_grade_3 {
	background-color: #2979b9;
	border: 1px solid black;
	width: 25%;
}

.blue_grade_4 {
	background-color: #08306b;
	border: 1px solid black;
	width: 25%;
}

.red_grade_0 {
	background-color: #ffffff;
	border: 1px solid black;
	width: 25%;
}

.red_grade_1 {
	background-color: #ffbfbf;
	border: 1px solid black;
	width: 25%;
}

.red_grade_2 {
	background-color: #ff8080;
	border: 1px solid black;
	width: 25%;
}

.red_grade_3 {
	background-color: #ff4040;
	border: 1px solid black;
	width: 25%;
}

.red_grade_4 {
	background-color: #ff0000;
	border: 1px solid black;
	width: 25%;
}

.MapTable.beforeTable {
	height: 200px;
}

.beforeTable {
	height: 40px;
	width: 180px;
	border: 2px solid black;
}

th, td {
	border-bottom: 1px solid rgb(50, 50, 50);
	text-align: center;
}

th {
	height: 40px;
}

tr {
	height: 35px;
}